@charset "UTF-8";
:root {
  --purple: #ad67fa;
  --blue: #81AFDD;
  --medium-blue: #176cc8;
  --white: #fdfcff;
  --dark-blue: #052D56;
  --darker-blue: #031b34;
  --black: #1c2031;
  --transparent: #eeeeee15;
}

/* General */
body {
  background-color: #1c2031 !important;
}

main {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  width: 80%;
}

main p {
  margin: 0;
  padding: 0;
}

.stripedText {
  background: linear-gradient(to right, var(--white) 30%, var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-grad {
  background-image: linear-gradient(to right, var(--white), var(--purple));
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 0.3rem;
  border: 0;
  display: block;
  color: var(--black);
  font-weight: bold;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Navbar */
header .navbar {
  margin-bottom: 2.5rem;
}

header .navbar-nav li a {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
}

header .navbar-nav button {
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
}

/*Home*/
@media screen and (max-width: 1080px) {
  body .home {
    margin: 0rem !important;
    display: flex;
    justify-content: center;
  }
  body .home .title {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  body .home .text {
    width: 100%;
  }
  body .home .keywords {
    font-size: 0.8rem;
  }
  body .home .subtext {
    color: var(--blue);
    margin-right: 0;
    margin-bottom: 2rem;
  }
  body .home p {
    font-size: 1rem;
    font-weight: 200;
    text-rendering: optimizeLegibility;
  }
  body .register {
    justify-content: center;
  }
  body .home .register input {
    height: 3rem;
    font-size: 0.8rem;
    margin: 0 0 0.5rem 0;
  }
  body .home .total-registers {
    margin-top: 7rem;
    flex-direction: column;
    justify-items: center;
  }
  body .home .image {
    display: flex;
    justify-content: center;
    width: 5rem;
    padding: 0;
    margin: 0;
  }
  body .home .image img {
    width: 20rem;
  }
}
.home {
  color: var(--white);
  padding-bottom: 5rem;
  margin: 0rem 3.3rem !important;
}

.home .keywords {
  font-weight: bold;
  font-size: 1.4rem;
}

.home .title {
  line-height: 5rem;
  font-size: 4rem;
  font-weight: bolder;
  background-image: linear-gradient(to left, var(--white) 30%, var(--purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  margin-bottom: 2rem;
}

#btn-register {
  width: auto;
  padding: 1rem 1.5rem;
}

.home p {
  font-size: 1.4rem;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

.home .text {
  width: 60%;
}

.home .subtext {
  color: var(--blue);
  margin-right: 12rem;
  margin-bottom: 3rem;
}

.home .image {
  width: 40%;
  padding: 0rem 10rem 0rem 10rem;
  margin: 0 16rem 0 -16rem;
}

.home .register {
  height: 3.5rem;
  width: 90%;
  margin: 0;
}

.home .register input {
  width: auto;
  padding: 0;
  background: var(--dark-blue);
  border-radius: 0.3rem 0 0 0.3rem;
  border: none;
  font-size: 1rem;
  color: var(--blue);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
}
.home .register input :focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(100, 153, 255);
}

.home .total-registers {
  width: 100%;
  margin-top: 2rem;
}

.home .total-registers p {
  font-size: 1rem;
}

/*  ########### Clients ###########*/
@media screen and (max-width: 1080px) {
  body #clients {
    margin: 0;
  }
  body #clients .slider2 {
    width: auto;
  }
  #clients > div > div > div {
    margin: 0.5rem;
  }
}
#clients {
  width: 80%;
  margin: 3rem auto 3rem auto;
}

#clients > div > div > div {
  margin: 1rem;
}

#clients img {
  width: 10rem;
  opacity: 70%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50rem);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider2 {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 70rem;
  display: flex;
}
.slider2::before, .slider2::after {
  background: linear-gradient(to right, var(--black) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider2::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider2::before {
  left: 0;
  top: 0;
}
.slider2 .slide-track2 {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
  align-items: center;
}
.slider2 .slide2 {
  height: 5rem;
  width: 15rem;
  margin: auto;
  display: flex;
}

/* #######  About ###### */
@media screen and (max-width: 1080px) {
  body .about {
    padding: 1rem;
  }
}
.about {
  background: linear-gradient(-45deg, var(--medium-blue) 0%, var(--dark-blue) 20%, var(--dark-blue) 90%, var(--medium-blue) 100%);
  color: var(--white);
  padding: 6rem 5rem 2rem 5rem;
  margin-bottom: 6rem;
}

.about .about-title > div {
  width: 40%;
}

.about .about-title > p {
  margin-top: 1.5rem;
  width: 60%;
  color: var(--blue);
}

.about .about-title .moto {
  font-size: 2.5rem;
  font-weight: bold;
}

.about .keywords img {
  width: 2rem;
  margin-bottom: 0.5rem;
}

.about .keywords span {
  font-size: 1.4rem;
  font-weight: 600;
}

.about .keyword {
  margin-bottom: 5rem;
}

/* ############ Cases ############ */
#cases {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cases .cases-text .title {
  font-size: 2rem;
  font-weight: bold;
  padding-left: calc(var(--bs-gutter-x) * 5);
}

#cases .cases-text span {
  display: block;
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
}

#cases .cases-text .subtext {
  color: var(--blue);
  font-weight: 400;
  font-size: 1rem;
}

/* Cards */
#cases .card {
  position: relative;
  height: 30rem;
  min-width: 20rem;
  min-height: 30rem;
  margin: 2rem 1rem;
  border-radius: 1rem;
  background-color: var(--transparent);
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  padding: 0;
  width: auto;
}

#cases .card .card-b {
  border-radius: 1rem;
  bottom: 0%;
  background-color: rgba(28, 32, 49, 0.2470588235);
  color: var(--blue);
  width: 100%;
  margin: 0;
  height: 55%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#cases .card .title {
  color: var(--white);
  font-size: 1.2rem;
}

#cases .card .card-b > img {
  width: 110%;
  align-self: center;
}

#cases .card .card-text {
  font-size: 0.8rem;
  max-height: 7rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

#cases .card .card-text p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

#cases .card-button {
  top: 90%;
  max-width: 100%;
  border-radius: 0rem 1.3rem 0rem 1.3rem;
  height: 3.2rem;
  background: linear-gradient(#1c2031, #1c2031) padding-box, linear-gradient(10deg, #1c2031, var(--transparent)) border-box;
  border: 3px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#cases .card-button a {
  max-width: 100%;
  font-size: 0.8rem;
  font-weight: 700;
  background: linear-gradient(to right, var(--white) 30%, var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cases .card-button img:last-child {
  width: 1.7rem;
}

#cases .card-icon {
  top: 31%;
  left: 65%;
}

/* ############# Services ############### */
#services {
  margin-top: 5rem;
}

#services .text {
  margin: 17rem 0rem 0rem 2rem;
  width: 35%;
}

#services .title-box {
  justify-content: center;
  margin-bottom: 2rem;
}

#services .services-mini-text {
  color: #71E5FF;
  font-size: 1rem;
}

#services .title {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

#services img {
  width: auto;
}

#services .text p:last-child {
  color: var(--blue);
  width: 65%;
}

/* Items */
#services .items {
  flex-wrap: wrap;
  justify-content: center;
}

#services .items .item {
  width: 21rem;
  margin: 3rem 6rem 3rem 0rem;
}

#services .items .item-title {
  font-weight: 500;
  font-size: 2rem;
  color: var(--white);
  line-height: 2.3rem;
  margin: 0.3rem 0;
}

#services .items .item-text {
  font-weight: 100;
  color: var(--blue);
}

/* ############ Feedback ############ */
#feedbacks .title-box {
  width: 35%;
  align-self: center;
  margin-bottom: 2.5rem;
}

#feedbacks .title-box .title {
  font-weight: 700;
  font-size: 2rem;
  align-self: center;
  margin-bottom: 1rem;
}

#feedbacks .title-box .subtitle {
  color: var(--blue);
  align-self: center;
  text-align: center;
}

/* Carrousel */
#feedbacks .card {
  z-index: 2;
  border-radius: 0.5rem;
  background-color: var(--dark-blue);
  width: 30rem;
  height: 25rem;
  margin: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#feedbacks .card-text {
  color: var(--white);
  font-weight: bold;
  text-align: center;
}

#feedbacks .filter {
  position: absolute; /* Posiciona a div de filtro de forma absoluta */
  top: -5%;
  left: -25%;
  justify-self: center;
  height: 110%;
  width: 150%; /* Garante que o filtro ocupe toda a largura do carrossel */
  z-index: 3; /* Coloca a div de filtro acima dos cards */
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 24%, rgba(11, 4, 24, 0) 45%, rgba(26, 3, 56, 0) 53%, rgb(0, 0, 0) 78%, rgb(0, 0, 0) 100%);
}

#feedbacks .slider-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

#feedbacks .slider {
  display: flex;
  justify-content: center; /* Centraliza os slides */
  transition: transform 0.5s ease; /* Adiciona uma transição suave */
  overflow: hidden; /* Para esconder partes dos slides que ultrapassam o contêiner */
  align-items: center;
}

#feedbacks .slide {
  flex: 0 0 33.33%; /* Cada slide ocupa 1/3 do container */
  margin: 0 5px; /* Espaçamento entre os slides */
  position: relative;
  /*transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave */
  -webkit-mask-image: linear-gradient(to right, transparent 25%, black 200%);
}

#feedbacks .slide.selected {
  opacity: 1; /* Imagem selecionada tem opacidade completa */
  -webkit-mask-image: none;
  transform: scale(1);
  transition: opacity 0.5s ease, transform 0.5s ease; /* Imagem selecionada volta ao tamanho original */
}

#feedbacks .slider-dots {
  text-align: center;
  margin-top: 10px;
}

#feedbacks .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

#feedbacks .dot.active {
  background-color: #717171;
}

#feedbacks .header-feedbacks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feedbacks .header-feedbacks > p {
  max-width: 500px;
  text-align: center;
  font-size: 1.25rem;
}

#feedbacks .slide.next-slide {
  -webkit-mask-image: linear-gradient(to left, transparent 25%, black 200%);
}

#feedbacks .slide:not(.selected) {
  cursor: pointer;
}

#feedbacks .prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

#feedbacks .prev {
  left: 0;
}

#feedbacks .next {
  right: 0;
}

#feedbacks .slider-dots {
  text-align: center;
  margin-top: 10px;
}

/* ########### Banner ######### */
#banner {
  padding: 2rem 3rem;
  background: linear-gradient(90deg, rgb(202, 153, 255) 0%, rgb(225, 199, 252) 36%, rgb(255, 255, 255) 100%);
  color: var(--black);
  width: 80rem;
  margin: 5rem auto;
  border-radius: 0.8rem;
}

#banner p:first-child {
  font-size: 0.8rem;
}

#banner p:last-child {
  font-size: 1.3rem;
  font-weight: bold;
  width: 80%;
}

#banner button {
  background-color: var(--black);
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
  border-radius: 2rem;
  width: 15%;
  height: 3rem;
  align-self: center;
}

/* ########### FAQ ############*/
#faq .title {
  margin-bottom: 4rem;
}

#faq p:first-child {
  font-weight: bold;
  font-size: 2.5rem;
  align-self: center;
  justify-self: center;
  margin-bottom: -2.5rem;
}

#faq p:last-child {
  font-weight: bold;
  font-size: 6rem;
  align-self: center;
  justify-self: center;
}

#faq .FAQ-items {
  margin-bottom: 5rem;
}

#faq .FAQ-items .FAQ-item {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--white);
  margin-left: 1rem;
  align-self: center;
  max-width: 20rem;
  min-width: 25rem;
  margin: 0.6rem 0rem;
  border-radius: 1rem;
  height: 6rem;
  background: linear-gradient(#1c2031, #1c2031) padding-box, linear-gradient(45deg, rgb(210, 168, 255) 0%, rgb(236, 218, 255) 100%);
  border: 0.13rem solid transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* ######### Community ########*/
#community .comm-ico {
  width: 5rem;
  align-self: center;
}

#community > div > p.title {
  font-size: 4.5rem;
  font-weight: bold;
  width: 50%;
  text-align: center;
  align-self: center;
  line-height: 4rem;
}

#community > div > p:nth-child(3) {
  font-size: 1rem;
  font-weight: 200;
  width: 25%;
  text-align: center;
  align-self: center;
  color: var(--white);
}

#community .comm-photo {
  margin: 3rem 0;
  width: 30rem;
  align-self: center;
}

#community .buttons {
  align-self: center;
  margin-bottom: 4rem;
}

#community button {
  border-radius: 3rem;
  background: linear-gradient(90deg, rgb(202, 153, 255) 0%, rgb(225, 199, 252) 36%, rgb(255, 255, 255) 100%);
  height: 5rem;
  margin: 0.5rem;
  border: none;
}

#community button a {
  margin: 3rem;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: var(--black);
}

#community button a img {
  margin-right: 1rem;
}

/* ######## CTA ###### */
#cta > div > p {
  align-self: center;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  width: 60%;
  margin-bottom: 4rem;
  line-height: 6rem;
}

#cta > div > button {
  font-weight: 500;
  font-size: 1.2rem;
  align-self: center;
  color: var(--white);
  margin-bottom: 6rem;
  background: linear-gradient(#1c2031, #1c2031) padding-box, linear-gradient(45deg, rgb(210, 168, 255) 0%, rgb(236, 218, 255) 100%);
  padding: 1.3rem 5rem;
  border: 0.12rem solid transparent;
}

/* ######## Info ####### */
#info {
  color: var(--white);
  font-size: 1rem;
  margin-bottom: 4rem;
}

#info > div > div:nth-child(1) > p.adress {
  margin-bottom: 2rem;
}

#info div li.head {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#info div li {
  text-decoration: none;
  margin-bottom: 1rem;
  list-style-type: none;
}

#info div li a {
  text-decoration: none;
  color: var(--white);
}

#info div li a:hover {
  color: var(--purple);
}

/* ####### Footer ####### */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}/*# sourceMappingURL=style.css.map */